/*==================== SKILLS ====================*/
.skills {
  background-color: var(--first-color-lighter);
  &__container {
    row-gap: 0;
  }
  
  &__content {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  &__content .devicon{
    color: var(--white-color);
    font-size: 3.5rem;
  }
  
  &__icon {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    margin-right: var(--mb-0-75);
  }

  &__name {
    font-size: var(--small-font-size);
    color: var(--cta-color);
  }
  
}